@inherits LayoutComponentBase
@using Wcomas.Services
@inject NavigationManager Navigation
@inject UserTrackerService Tracker
@inject UserSessionInfo SessionInfo
@implements IDisposable

<div class="page">
    <header>
        <NavMenu/>
    </header>

    <main>
        @Body
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {
    protected override void OnInitialized()
    {
        Navigation.LocationChanged += HandleLocationChanged;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            UpdateTracker();
        }
    }

    private void HandleLocationChanged(object? sender, LocationChangedEventArgs e) => UpdateTracker();

    private void UpdateTracker()
    {
        if (!string.IsNullOrEmpty(SessionInfo.CircuitId))
        {
            Tracker.UpdateUrl(SessionInfo.CircuitId, Navigation.ToBaseRelativePath(Navigation.Uri));
        }
    }

    public void Dispose()
    {
        Navigation.LocationChanged -= HandleLocationChanged;
    }
}